input, select {
  border: transparent;
  outline: none;
}

.min-vh-100 { min-height: 100vh; }
.modal { background-color: #00000050; }
.btn {
  cursor: pointer;
  border: transparent;
  outline: none;
}
.bg-image {
  /* background: linear-gradient(30deg, #0d6efd00 55%, #0d6dfd 80%) !important; */
  background: url('https://miro.medium.com/max/4096/1*iy89_SSP_EfZlBsUvZJ4WA.png') no-repeat center center/cover !important;
}
.bg-gradient {
  background: linear-gradient(30deg, #fff 55%, transparent 80%) !important;
}
.bg-gradient-1 {
  background: linear-gradient(360deg, #fff 30%, transparent) !important;
}
.display { font-size: 100px; }
.text-shadow { text-shadow: #000 3px 3px 3px; }