<template>
  <section class="modal d-flex position-fixed top-0 right-0 w-100 h-100">
    <div class="container flex-grow-1 d-flex">
      <div class="row align-items-center justify-content-center flex-grow-1">
        <form
          :class="`col-md-${cols} bg-white p-3`"
          @submit.prevent="e => $emit('submit', e)"
        >
          <!-- header -->
          <div class="d-flex align-items-center border-bottom pb-3">
            <h5 class="fw-normal mb-0">
              {{title}}
              <small
                v-if="subTitle"
                class="text-muted border-start border-primary ps-2 ms-2"
              >
                {{subTitle}}
              </small>
            </h5>

            <i
              class="btn fas fa-times text-muted ms-auto"
              @click="$emit('close')"
            />
          </div>

          <!-- body -->
          <div class="py-3">
            <slot></slot>
          </div>

          <!-- footer -->
          <div class="border-top text-end pt-3">
            <Button type="submit" :value="button" icon="check"/>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: String,
    subTitle: String,
    button: {
      type: String,
      default: "Submit"
    },
    cols: {
      type: String,
      default: "6"
    }
  }
}
</script>