<template>
  <div class="col-md-6">
    <div class="row g-0">
      <div class="d-flex">
        <i class="fas fa-check-circle fs-4 text-primary pe-3 py-2"/>
        <div class="col">
          <h2 class="fw-normal">Built with Nuxt</h2>
          <p class="text-secondary">
            Though Vue is not the <span class="text-primary">fastest</span>, it is the <span class="text-primary">simpliest</span> and <span class="text-primary">beginner friendly</span> front-end companion in my opinion. When used with Nuxt, the word <span class="text-primary">hassle</span> wouldn't make sense.
          </p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fas fa-check-circle fs-4 text-primary pe-3 py-2"/>
        <div class="col">
          <h2 class="fw-normal">Laravel for API</h2>
          <p class="text-secondary">
            I just learned <a href="https://laravel.com/" class="text-decoration-none" target="_blank">Laravel</a> when I built this app but then I was so amazed of the power Laravel gives you in terms of handling the data from <code>$request</code> to <code>$response</code>.
          </p>
        </div>
      </div>

      <div class="d-flex">
        <i class="fas fa-check-circle fs-4 text-primary pe-3 py-2"/>
        <div class="col">
          <h2 class="fw-normal">Sanctum for Auth</h2>
          <p class="text-secondary">
            I have never tried implementing authentications on a project before but <a href="https://laravel.com/docs/8.x/sanctum" class="text-decoration-none" target="_blank">Laravel Sanctum</a> paired with <a href="https://auth.nuxtjs.org/providers/laravel-sanctum" class="text-decoration-none">Nuxt Auth for Sanctum</a>, implementing authentication is just a piece of cake for me.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
