<template>
  <button
    class="btn rounded bg-primary text-white px-3 py-2"
    @click="$emit('click')
  ">
    <span v-if="value" :class="iconEnabled? 'me-2': ''">{{value}}</span>
    <i v-if="iconEnabled" :class="`hvr-icon fas fa-${icon}`"/>
  </button>
</template>

<script>
export default {
  props: {
    value: String,
    icon: String,
    iconEnabled: Boolean
  }
}
</script>
