<template>
  <section class="about min-vh-100 py-5">
    <div class="container">
      <div class="row">
        <h1 class="col-md-6 offset-md-3 fw-normal text-primary text-center border-bottom border-primary border-3 py-3">
          About the App
        </h1>
        <div class="col-md-12 py-5">
          <p class="fs-5">
            Hi, I'm James Malatabon! A Web Developer who aspires to become a Full-Stack Engineer. I am very interested in learning the modern tools and frameworks in Programming especially the Front-end ones (React, Vue, Angular) since am currently working on my front-end skills.
          </p>

          <p class="fs-5">
            This project was built when I was in training under the <a href="https://www.agentsofvalue.com/" class="text-decoration-none" target="_blank">Eversun Software Philippines Corporation</a> and served as my Exam/Exercise before getting on board.
          </p>

          <p class="fs-5 border-bottom pb-5">
            Below are the tools I used and implementations I did on this project:
          </p>

          <h3 class="fw-normal text-muted mt-5">
            <span class="text-primary border-end pe-3 me-2">Tools</span>
            Laravel, Nuxt, Hover.css, Animate.css, SweetAlert2, Bootstrap 5
          </h3>
          <div class="ps-5 mt-4">
            <h4 class="fw-normal text-primary">Laravel</h4>
            <p class="fs-5">
              Used mainly for API. Manages all the communication between the MySQL Database and the client. Handles, validates, and formats all the in and out of data in between the API and the Client.
            </p>

            <h4 class="fw-normal text-primary">Nuxt</h4>
            <p class="fs-5">
              A Vue framework used to build the Front-end side of the app. Responsible for handling the user data in a stateful and reactive way and communicates with the API to store and retrieve data requested by the user.
            </p>

            <h4 class="fw-normal text-primary">Bootstrap 5</h4>
            <p class="fs-5">
              Still in beta but Bootstrap 5 has a lot of new classes that helped me control manipulate my DOM Elements. <code>Grid, Rebooot, Utilities</code> are the only features I pulled out from the library since I want to design my own components.
            </p>

            <h4 class="fw-normal text-primary">Hover.css, Animate.css, SweetAlert2</h4>
            <p class="fs-5">
              CSS libraries for hover effects, animation, and alerts as their names suggests.
            </p>
          </div>

          <h3 class="fw-normal text-muted mt-5">
            <span class="text-primary border-end pe-3 me-2">Implementations</span>
            RESTful API, Token-based Authentication
          </h3>

          <div class="ps-5 mt-4">
            <h4 class="fw-normal text-primary">RESTful API</h4>
            <p class="fs-5">
              Powered by Laravel, the API side of this app does all the heavy lifting in terms of database communication (<code>migrations, factories, seeders</code>), data formatting and validation, and the Auth implementation with Laravel Sanctum. Laravel, a jack-of-all-trades PHP Framework uses a special route for API implementation using <code>Route::apiResources</code> with it's Eloquent Models, Controllers, etc. gives the developer a perfect control over the data at the back-end of the application. Handles the <code>GET, POST, PATCH, DELETE</code> requests from the client.
            </p>

            <h4 class="fw-normal text-primary">Authentication</h4>
            <p class="fs-5">
              Powered by Laravel Sanctum, and with the help of Nuxt Auth (Laravel Sanctum Provider), implements a secured and seamleass-token-based requests and responses between the API and the Client. Nuxt and Laravel heavily supports each other in terms of technical compatibiliy, thus, makes the Client-API relationship for the developers easy to setup. Axios, who handles the requests from the Client to the API does a huge role in the application's RESTful API implementation and Laravel Sanctum Authentication.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  auth: false,
  layout: 'primary'
}
</script>
