<template>
  <section class="home bg-image">
    <div class="bg-gradient-1">
      <div class="container">
        <div class="row align-items-center min-vh-100 py-5">
          <div class="col-md-12">
            <h1 class="display fw-normal text-center text-white text-shadow">
              <div class="animate__animated animate__zoomInDown">
                Sample Nuxt App
              </div>
              <p class="animate__animated animate__fadeInUp animate__delay-1s text-dark fs-3 mb-0 mt-3" style="text-shadow: none">
                <span class="d-inline-block animate__animated animate__tada animate__delay-2s text-primary text-uppercase">Disclaimer </span>
                All images used here are not mine.
              </p>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  auth: false,
  layout: 'primary'
}
</script>
