<template>
  <section class="login bg-image">
    <div class="bg-gradient min-vh-100 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
            <NuxtLink to="/">
              <img width="120px" src="~/assets/images/nuxtjs-typo.svg" alt="">
            </NuxtLink>
          </div>

          <LoginFeature/>

          <form
            class="col-md bg-white rounded shadow p-5 mx-5"
            @submit.prevent="handleLogin"
          >
            <h3 class="fw-normal text-center mb-5">
              Login to continue
            </h3>

            <div class="row g-0">
              <small class="col-md-3 text-primary border-bottom border-primary border-2">
                Email
              </small>
              <input
                v-model="credentials.email"
                class="border-0 border-bottom border-1 py-2"
                type="email"
                placeholder="Enter email"
                required
                :disabled="isLoading"
              >
            </div>

            <div class="row g-0 mt-3">
              <small class="col-md-3 text-primary border-bottom border-primary border-2">
                Password
              </small>
              <input
                v-model="credentials.password"
                class="border-0 border-bottom border-1 py-2"
                type="password"
                placeholder="Enter password"
                required
                :disabled="isLoading"
              >
            </div>

            <div class="row g-0 my-4">
              <Button :class="{'bg-secondary': isLoading}"
                type="submit"
                icon="sign-in-alt"
                value="Login"
                iconEnabled
                :disabled="isLoading"
              />
            </div>

            <span class="d-block text-center pt-2">
              or you can
              <NuxtLink class="text-decoration-none" to="/signup">Create an Account</NuxtLink>
            </span>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Swal from 'sweetalert2'

// sweetalert options
const Toast = Swal.mixin({
  toast: true,
  position: 'top',
  showConfirmButton: false,
  timer: 3000,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

export default {
  auth: 'guest',
  data() {
    return {
      credentials: {
        email: '',
        password: ''
      },
      isLoading: false
    }
  },
  methods: {
    handleLogin() {
      // set loading mode
      this.isLoading = true

      this.$auth.loginWith('laravelSanctum', {
        data: this.credentials
      }).catch(error => {
        Toast.fire({
          icon: "error",
          title: "You've entered an invalid credentials."
        })

        // set loading off
        this.isLoading = false

        // log the error
        console.log(error)
      })
    }
  }
}
</script>
