<template>
  <section class="signup min-vh-100 py-5">
    <div class="container py-3">
      <div class="row">
        <LoginFeature/>

        <form
          class="col-md bg-white rounded shadow p-5 mx-5"
          @submit.prevent="handleSubmit"
        >
          <h3 class="fw-normal text-center mb-5">
            Become a Guest
          </h3>

          <div class="row g-0">
            <small class="col-md-3 text-primary border-bottom border-primary border-2">
              Full Name
            </small>
            <input
              v-model="credentials.name"
              class="border-0 border-bottom border-1 py-2"
              type="text"
              placeholder="Enter full name"
              required
              :disabled="isLoading"
            >
          </div>

          <div class="row g-0">
            <small class="col-md-3 text-primary border-bottom border-primary border-2">
              Email
            </small>
            <input
              v-model="credentials.email"
              class="border-0 border-bottom border-1 py-2"
              type="email"
              placeholder="Enter email"
              required
              :disabled="isLoading"
            >
          </div>

          <div class="row g-0 mt-3">
            <small class="col-md-3 text-primary border-bottom border-primary border-2">
              Password
            </small>
            <input
              v-model="credentials.password"
              class="border-0 border-bottom border-1 py-2"
              type="password"
              placeholder="Enter password"
              required
              :disabled="isLoading"
            >
          </div>

          <div class="row g-0 mt-3">
            <small class="col-md-5 text-primary border-bottom border-primary border-2">
              Password Confirm
            </small>
            <input
              v-model="confirm"
              class="border-0 border-bottom border-1 py-2"
              type="password"
              placeholder="Confirm password"
              required
              :disabled="isLoading"
            >

            <span
              v-if="error === 'confirm'"
              class="d-block bg-danger text-white text-center rounded p-2 mt-2"
            >
              Password must match.
            </span>
          </div>

          <small class="d-block text-muted mt-5">
            For the security of your data, please refrain from using real information since this is just a sample application.

            <span class="d-flex align-items-center mt-3">
              <input type="checkbox" id="agree" v-model="agree">
              <label for="agree" class="btn text-dark ms-2" required>
                I understand that this is a <span class="text-primary">Sample App</span>
              </label>
            </span>
            
            <span
              v-if="error == 'agree'"
              class="d-block bg-danger text-white text-center rounded p-2 mt-2"
            >
              You must agree to proceed.
            </span>
          </small>

          <div class="row g-0 mt-5 mb-4">
            <Button
              :class="{'bg-secondary': isLoading}"
              type="submit"
              icon="check"
              value="Create Account"
              iconEnabled
              :disabled="isLoading"
            />
          </div>

          <span class="d-block text-center pt-2">
            Already have an account?
            <NuxtLink class="text-decoration-none" to="/login">Login</NuxtLink>
          </span>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import Swal from 'sweetalert2'

// sweetalert options
const Toast = Swal.mixin({
  toast: true,
  position: 'top',
  showConfirmButton: false,
  timer: 3000,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

export default {
  auth: 'guest',
  layout: 'primary',
  data() {
    return {
      agree: 0,
      confirm: '',
      credentials: {
        name: '',
        email: '',
        password: ''
      },
      error: '',
      isLoading: false
    }
  },
  computed: {
    passwordMatched() {
      return this.confirm === this.credentials.password
    }
  },
  methods: {
    handleSubmit() {
      if(this.agree) {
        if(this.passwordMatched) {
          // set error to none
          this.error = ''

          // set loading mode
          this.isLoading = true

          this.$axios.get('http://localhost:8000/sanctum/csrf-cookie').then(response => {
            this.$axios.post('users', this.credentials)
            .then(response => {
              // set loading off
              this.isLoading = false

              // notify the user
              Toast.fire({
                icon: "success",
                title: "New user has been created."
              })

              // redirect to login
              this.$router.push('/login')
            }, error => {
              // notify the user
              Toast.fire({
                icon: "error",
                title: "Server has failed to create user."
              })

              // set loading off
              this.isLoading = false

              // log the error
              console.log(error)
            })
          })

          
        }else {
          // set error
          this.error = 'confirm'
        }
      }else {
        // set error
        this.error = 'agree'
      }
    }
  }
}
</script>
