<template>
  <Modal
    title="Student"
    subTitle="Create"
    cols="5"
    @submit="handleSubmit"
    @close="$emit('close')"
  >
    <div class="row g-0">
      <small class="col-md-3 border-bottom border-primary border-2 text-primary">
        Student
      </small>
      <input
        v-model="student.name"
        class="py-2"
        type="text"
        placeholder="Enter name"
        required
      >
    </div>

    <div class="row g-0 mt-3">
      <small class="col-md-3 border-bottom border-primary border-2 text-primary">
        Course
      </small>
      <select class="py-2" v-model="student.course_id">
        <option
          v-for="course in $store.state.courses.list"
          :key="course.id"
          :value="course.id"
        >
          {{course.degree.name}} in {{course.name}}
        </option>
      </select>
    </div>
  </Modal>
</template>

<script>
import Swal from 'sweetalert2'

// sweetalert options
const Toast = Swal.mixin({
  toast: true,
  position: 'top',
  showConfirmButton: false,
  timer: 3000,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

export default {
  data() {
    return {
      student: {
        name: '',
        course_id: 1
      }
    }
  },
  methods: {
    async handleSubmit() {
      const student = await this.$axios.$post('students', this.student)
        .catch(error => {
          Toast.fire({
            icon: "error",
            title: "Failed to create student record."
          })

          // log the error
          console.log(error.response)
        })

      if(student) {
        this.$store.commit('students/create', student)

        // emit to close modal
        this.$emit('close')

        // notify the user
        Toast.fire({
          icon: "success",
          title: "New student has been created."
        })
      }
    }
  }
}
</script>