<template>
  <Modal
    title="Schedule"
    subTitle="Create"
    cols="5"
    @submit="handleSubmit"
    @close="$emit('close')"
  >
    <div class="row g-0">
      <small class="col-md-3 border-bottom border-primary border-2 text-primary">
        Subject
      </small>

      <select class="py-2" v-model="sectionId">
        <option
          v-for="section in $store.state.sections.list"
          :key="section.id"
          :value="section.id"
        >
          {{section.subject.name}}
        </option>
      </select>
    </div>

    <div class="row g-0 mt-3">
      <small class="col-md-3 border-bottom border-primary border-2 text-primary mb-2">
        Schedule
      </small>

      <div class="d-flex p-1">
        <span class="col-3 text-muted">
          Subject
        </span>
        <span class="col-9">
          {{section.subject.name}}
        </span>
      </div>

      <div class="d-flex p-1">
        <span class="col-3 text-muted">
          Teacher
        </span>
        <span class="col-9">
          {{section.teacher.name}}
        </span>
      </div>

      <div class="d-flex p-1">
        <span class="col-3 text-muted">
          Room
        </span>
        <span class="col-9">
          {{section.room.name}} ({{section.room.bldg}})
        </span>
      </div>

      <div class="d-flex p-1">
        <span class="col-3 text-muted">
          Time
        </span>
        <span class="col-9">
          {{section.time.start}} - {{section.time.end}}
        </span>
      </div>
    </div>
  </Modal>
</template>

<script>
import Swal from 'sweetalert2'

// sweetalert options
const Toast = Swal.mixin({
  toast: true,
  position: 'top',
  showConfirmButton: false,
  timer: 3000,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

export default {
  props: ['studentId'],
  data() {
    return {
      sectionId: 1
    }
  },
  computed: {
    section() {
      return this.$store.state.sections.list.find(section =>
        section.id === this.sectionId
      )
    }
  },
  methods: {
    async handleSubmit() {
      const schedule = await this.$axios.$post('schedules', {
        section_id: this.sectionId,
        student_id: this.studentId
      }).catch(error => {
        Toast.fire({
          icon: "error",
          title: "Failed to add new schedule to student."
        })

        // log the error
        console.log(error.response)
      })

      if(schedule) {
        // build updated student data
        const student = {...this.$store.state.students.list.find(
          student => student.id === this.studentId
        )}

        // update student schedule
        student.schedules.push(schedule)

        // update student from store.students
        this.$store.commit('students/update', student)

        // emit to close modal
        this.$emit('close')

        // notify the user
        Toast.fire({
          icon: "success",
          title: "New schedule has been added to student."
        })
      }
    }
  }
}
</script>