<template>
  <div class="row g-0">
    <div class="col-md-12 d-flex border-bottom px-3 py-2 mb-2">
      <small class="text-muted">
        <span class="pe-1">{{room.name}}</span>
        <span class="border-start ps-2">{{room.bldg}}</span>
      </small>
      <small class="ms-auto">{{time.start}} - {{time.end}}</small>
    </div>

    <p class="fs-5 px-3 mb-0">{{subject.name}}</p>
    <p class="fs-6 text-primary px-3 mb-0">{{teacher.name}}</p>
    
    <small
      class="hvr-forward btn bg-primary text-white text-center px-3 mt-2"
      @click="$emit('delete')"  
    >
      remove
    </small>
  </div>
</template>

<script>
export default {
  props: {
    room: Object,
    time: Object,
    subject: Object,
    teacher: Object
  }
}
</script>