<template>
  <div class="hvr-shadow border">
    <div class="row g-0">
      <div class="col-md p-3 pb-0 pb-md-3">
        <p class="fs-4 mb-0">{{name}}</p>
        <small class="text-muted">
          <span class="border-end border-primary pe-2">{{course.department.acro}}</span>
          <span class="ms-2">{{course.degree.name}} in {{course.name}}</span>
        </small>
      </div>

      <div class="col-md-auto d-flex align-items-center p-3">
        <span class="w-100 text-end">
          <i class="btn hvr-grow fas fa-marker text-primary fs-5 px-1"
            @click="$emit('edit')"/>

          <i class="btn hvr-grow fas fa-trash text-primary fs-5 px-1"
            @click="$emit('delete')"/>

          <i class="btn hvr-grow fas fa-stream text-primary fs-5 px-1"
            @click="$emit('select')"/>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: String,
    course: Object
  }
}
</script>
