<template>
  <footer class="footer border-top py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-end text-muted">
          Developed by
          <a 
            class="text-decoration-none text-primary ms-1"
            href="https://linkedin.com/in/benjotheninja"
            target="_blank">
            James Malatabon
          </a>
        </div>

        <div class="col-md-6 text-end">
          <a href="https://nuxtjs.org" target="_blank">
            <img width="160px" src="~/assets/images/built-with-nuxt.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </footer>
</template>
