<template/>

<script>
export default {
  head() {
    let path = this.$route.path.substring(1)
    let name = path? path: 'home'
    name = name.charAt(0).toUpperCase() + name.slice(1)

    return {
      title: `${name} | Nuxt App`
    }
  }
}
</script>
