<template>
  <nav class="navbar bg-white shadow-sm">
    <div class="container">
      <div class="row">
        <img
          class="navbar-brand py-4 py-md-0 me-2"
          src="~/assets/images/nuxtjs-typo.svg"
          alt="logo"
          style="width: 150px;">

        <div class="col-md row align-items-center mx-auto">
          <NuxtLink class="col-md-auto mb-2 mb-md-0" exact to="/">Home</NuxtLink>
          <NuxtLink class="col-md-auto mb-2 mb-md-0" to="/dashboard">Dashboard</NuxtLink>
          <NuxtLink class="col-md text-start mb-2 mb-md-0" to="/about">About</NuxtLink>
          <div
            v-if="$auth.loggedIn"
            class="col-md-auto mb-2 mb-md-0"
          >
            <div class="d-flex align-items-center">
              <span class="border-end p-md-3">{{ $auth.user.name }}</span>
              <i
                class="btn fas fa-sign-out-alt fs-5 ps-3"
                @click="$auth.logout()"
              />
            </div>
          </div>
          <div v-else class="col-md-auto row align-items-center">
            <NuxtLink class="col-md-auto me-2 mb-2 mb-md-0" to="/login">Login</NuxtLink>
            <NuxtLink class="col-md-auto bg-primary text-white p-md-3 mb-2 mb-md-0" to="/signup">
              Sign Up
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<style>
/* .navbar-brand { width: 150px; } */
.navbar a {
  color: gray;
  text-decoration: none;
}
.navbar a:hover,
.navbar a.nuxt-link-active { color: black; }
</style>