<template>
  <span class="search-input d-flex align-items-center rounded-3 px-3 py-2">
    <i
      v-if="iconEnabled"
      class="fas fa-search pe-2"
    />
    
    <input
      v-model="search"
      class="col ps-1"
      type="text"
      :placeholder="placeholder"
    />
  </span>
</template>

<script>
export default {
  data() {
    return {
      search: ''
    }
  },
  props: {
    value: String,
    placeholder: {
      type: String
    },
    iconEnabled: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    search() {
      // pass value to parent
      this.$emit('searching', this.search)
    }
  }
}
</script>

<style>
.search-input {
  background-color: #d5e5ff;
  /* background-color: #e2fff7; */
  transition: background-color .5s;
}
.search-input:focus,
.search-input:focus-within {
  background-color: #fff;
}
.search-input > i {
  color: #888;
  transition: color .5s;
}
.search-input:focus > i,
.search-input:focus-within > i {
  color: #ccc;
}
.search-input > input {
  background-color: transparent;
  border: none;
  outline: none;
}
</style>
