<template>
  <section class="dashboard min-vh-100 py-5">
    <div class="container">
      <div class="row">
        <h3 class="text-muted fw-normal border-bottom pb-2 mb-4">
          Dashboard
        </h3>

        <div class="wrapper">
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                <InputSearch
                  class="col me-2"
                  placeholder="Find a student..."
                  iconEnabled
                  @searching="handleSearch"
                />

                <!-- <input v-model="search" type="text"> -->

                <Button
                  class="hvr-forward"
                  icon="user-plus"
                  iconEnabled
                  @click="modal.student.create = true"
                />
              </div>

              <!-- students list -->
              <div
                v-if="students.length > 0"
                class="d-grid gap-3"
              >
                <DashboardStudent
                  v-for="student in students"
                  :key="student.id"
                  :name="student.name"
                  :course="student.course"
                  @select="handleStudentSelect(student.id)"
                  @edit="handleStudentEdit(student.id)"
                  @delete="handleStudentDelete(student.id)"
                />
              </div>
              <p v-else class="text-muted text-center py-3 mb-0">
                No student records to load
              </p>
            </div>

            <div class="col-md-6 mt-4 mt-md-0">
              <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                <!-- <p class="fs-6 text-muted text-uppercase mb-0"></p> -->
                <Button
                  class="hvr-forward ms-auto"
                  icon="calendar-plus"
                  iconEnabled
                  @click="handleScheduleNew"
                />
              </div>

              <div class="row g-0 bg-primary p-3 mb-3">
                <div class="col-md-3 text-white fw-bold text-capitalize text-md-end pe-3">
                  student
                </div>
                <div class="col-md-9 text-white">
                  {{'name' in selected? selected.name: 'no student to show'}}
                </div>

                <div class="col-md-3 text-white fw-bold text-capitalize text-md-end pe-3">
                  course
                </div>
                <div class="col-md-9 text-white">
                  {{
                    'course' in selected?
                    `${selected.course.degree.acro} in ${selected.course.name}`:
                    'no course to show'
                  }}
                </div>
              </div>

              <!-- schedules list -->
              <div class="d-grid gap-3">
                <DashboardSchedule
                  v-for="schedule in selected.schedules"
                  :key="schedule.id"
                  :room="schedule.section.room"
                  :subject="schedule.section.subject"
                  :teacher="schedule.section.teacher"
                  :time="schedule.section.time"
                  @delete="handleScheduleDelete(schedule.id)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modals -->
    <DashboardNewStudent
      v-if="modal.student.create"
      @close="modal.student.create = false"
    />

    <DashboardUpdateStudent
      v-if="modal.student.update"
      :studentId="selected.id"
      @close="modal.student.update = false"
    />

    <DashboardNewSchedule
      v-if="modal.schedule"
      :studentId="selected.id"
      @close="modal.schedule = false"
    />
  </section>
</template>

<script>
import Swal from 'sweetalert2'

// sweetalert options
const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

const Delete = Swal.mixin({
  title: "Are you sure?",
  text: "Once deleted, all related data will also be deleted!",
  icon: "warning",
  showCancelButton: true,
  showCancelButton: true,
  confirmButtonText: "Yes, delete it!",
  showLoaderOnConfirm: true,
  allowOutsideClick: () => !Swal.isLoading()
})

export default {
  layout: 'primary',
  data() {
    return {
      selected: {},
      search: '',
      modal: {
        student: {
          create: false,
          update: false
        },
        schedule: false
      },
      loading: false
    }
  },
  created() {
    // dispatch necessary data
    this.$store.dispatch('students')
    this.$store.dispatch('sections')
    this.$store.dispatch('courses')
  },
  computed: {
    students() {
      let result = []
      
      // filter by search
      if(this.search) {
        result = this.$store.state.students.list.filter(student => {
          const regex = RegExp(this.search, 'g')
          if(student.name.toLowerCase().match(regex))
            return student
        })

        // select if only one result
        this.selected = result.length === 1? result[0]: {}
      }else
        result = this.$store.state.students.list

      return result
    }
  },
  methods: {
    handleSearch(value) {
      // update search value
      this.search = value
    },

    handleStudentSelect(studentId) {
      // get selected student data
      this.selected = this.students.find(
        student => student.id === studentId
      )
    },

    handleStudentEdit(studentId) {
      // get selected student data
      this.selected = this.students.find(
        student => student.id === studentId
      )

      // toggle modal
      this.modal.student.update = true
    },

    handleStudentDelete(studentId) {
      Delete.fire({
        preConfirm: () => {
          return this.$axios.delete(
            `students/${studentId}`
          ).then((response) => {
            // remove student from store
            this.$store.commit('students/remove', studentId)

            // remove student from selected if selected
            if(this.selected.id === studentId)
              this.selected = {}

            // notify the user
            Toast.fire({
              icon: "success",
              title: "Student has been deleted!"
            })
          }, (error) => console.log(error.response))
        }
      })
    },

    handleScheduleNew() {
      if('id' in this.selected) {
        // toggle modal for create schedule
        this.modal.schedule = true
      }else
        Swal.fire({
          title: "Hold on!",
          text: "You need to select a student first!",
          icon: "warning",
          confirmButtonText: "OK, Got it!"
        })
    },

    handleScheduleDelete(scheduleId) {
      Delete.fire({
        preConfirm: () => {
          return this.$axios.delete(
            `schedules/${scheduleId}`
          ).then((response) => {
            // update student schedule
            const student = {...this.selected}
            const index = student.schedules.map(schedule => schedule.id).indexOf(scheduleId)
            student.schedules.splice(index, 1)

            // update student with new schedule from store
            this.$store.commit('students/update', student)

            // notify the user
            Toast.fire({
              icon: "success",
              title: "Schedule has been removed!"
            })
          }, (error) => console.log(error.response))
        }
      })
    }
  }
}
</script>
